@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(48, 48, 48);
    color: white;
}

h1{
    font-size: 2rem;
}

.container{
    max-width: 479px;
    margin-inline: auto;
    overflow: hidden;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    display: inline-block;
}

.nav-bar{
    justify-content: space-between;
}

.logo{
    padding: 20px;
}

.logo img{
    width: 40px;
    border-radius: 50%;
}

.nav-links{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    gap: 20px;
}

.hover-links{
    color: white;
    transition: 0.3s ease-in-out;
}

.hover-links:hover{
    color: 1px solid rgb(231, 185, 185);
    font-size: 1.2rem;
}

.about{
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.header-img img{
    width: 100%;
}

.header-text{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.header-text p{
    padding: 5px 10px;
}

.projects{
    margin-block: 40px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.project-list{
    flex-direction: column;
}

.box{
    min-height: 200px;
    background-color: black;
    background: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.9)), url(2.png);
    background-size: cover;
    text-align: center;
    padding-block: 100px;
    font-size: 1.6rem;
    color: white;
    text-shadow: 2px 2px black;
    transition: 0.3s ease-out;
}
.box:nth-child(2){
    background: linear-gradient(rgba(0, 0, 0, 0.253), rgb(0,0,0,0.9)), url(3.png);
    background-size: cover;
}

.box:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.9)), url(4.png);
    background-size: cover;
}

.box:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.9)), url(5.png);
    background-size: cover;
}

.box:nth-child(5){
    background: linear-gradient(rgb(0,0,0,0.5), rgba(0, 0, 0, 0.719)), url(6.png);
    background-size: cover;
}

.box:hover{
    font-size: 2rem;
    
}

.contact{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.button{
    height: 50px;
    width: 50%;
    border-radius: 6px;
    background-color: rgb(60, 139, 243);
    color: white;
    text-align: center;
    padding-block: 12px;
    transition: 0.3s ease-out;
    
}

.button:hover{
    box-shadow: 2px 2px 2px black;
    width: 60%;
    height: 60px;
    padding-block: 18px;
    font-size: 1.2rem;
}

footer{
    text-align: center;
}

.contactme{
    text-align: center;
    margin-bottom: 30px;
}
