@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

h1{
    font-size: 2rem;
}

.container{
    width: 500px;
    margin-inline: auto;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    display: inline-block;
}

.nav-bar{
    justify-content: space-between;
    background-color: aliceblue;
}

.logo{
    padding: 20px;
}

.logo img{
    width: 40px;
    border-radius: 50%;
}

.nav-links{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    gap: 20px;
}

.hover-links{
    color: black;
}

.hover-links:hover{
    border: 1px solid black;
    border-radius: 8px;
    padding-block: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.about{
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.header-img img{
    width: 100%;
}

.header-text{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.projects{
    margin-block: 40px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.project-list{
    flex-direction: column;
}

.box{
    min-height: 200px;
    background-color: black;
    background: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.9)), url(2.png);
    background-size: cover;
    text-align: center;
    padding-block: 100px;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px black;
}
.box:nth-child(2){
    background: linear-gradient(rgba(0, 0, 0, 0.253), rgb(0,0,0,0.9)), url(3.png);
    background-size: cover;
}

.box:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.9)), url(4.png);
    background-size: cover;
}

.box:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.9)), url(5.png);
    background-size: cover;
}

.box:hover{
    font-size: 3rem;
    transition: 0.3s ease-out;
}

.contact{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.button{
    height: 50px;
    width: 60%;
    border-radius: 6px;
    background-color: rgb(60, 139, 243);
    color: white;
    text-align: center;
    padding-block: 12px;
    
}

.button:hover{
    box-shadow: 4px 4px 4px black;
    width: 70%;
    height: 70px;
    padding-block: 23px;
}

footer{
    text-align: center;
}

footer p{
    background-color: rgb(167, 207, 241);
}

.contactme{
    text-align: center;
    margin-bottom: 30px;
}